body {
    background-color: #222831;
}
.outter-container {
    padding: 50px;
    background-color: #222831;
}

table {
    border: 2px solid black;
    color: white;
}

tr {
    color: white;
}

.wh {
    color: white;
}

.lb {
    background-color: #00adb5;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.mgbt5 {
    margin-bottom: 5%;
}

.mglt2 {
    margin-left: 2%;
}

.hm {
    float: right;
    margin-right: 3%;
}

.rd {
    color: red;
}